// #shapely_home_parallax-3,
#shapely_home_parallax-12,
#shapely_home_parallax-13,
#shapely_home_parallax-15,
#shapely_home_parallax-16,
#shapely_home_parallax-3,
#shapely_home_parallax-17 {
  background-color: #000;
  @include breakpoint(sm) {
    padding: 45px 0 45px 0;
  }
  @include breakpoint(xs) {
    padding: 45px 0 45px 0;
  }
  @include breakpoint(xxs) {
    padding: 45px 0 45px 0;
  }
  .container {
    .row {
      &.align-children {
        img {
          border-radius: 20px;
          top: 200px;
        }
        h3 {
          color: #fff;
          font-size: 36px;
          line-height: 40px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 100;
          padding: 40px;
        }
        .mb32 {
          height: 489px;
          margin-top: 200px;
          @include breakpoint(sm) {
            margin-top: 200px;
            height: auto;
          }
          @include breakpoint(xs) {
            height: auto;
            margin-top: 0;
          }
          @include breakpoint(xxs) {
            height: auto;
            margin-top: 0;
          }
          .hide-mobile {
            p {
              text-align: right;
              font-size: 24px;
              line-height: 30px;
              color: white;
              padding-bottom: 30px;
            }
            @include breakpoint(sm) {
              display: none;
            }
            @include breakpoint(xs) {
              display: none;
            }
            @include breakpoint(xxs) {
              display: none;
            }
          }
          p {
            text-align: left;
            font-size: 24px;
            line-height: 30px;
            color: white;
            font-weight: 100;
            padding-bottom: 30px;
            @include breakpoint(sm) {
              font-size: 36px;
              line-height: 44px;
              color: white;
              text-align: center;
            }
            @include breakpoint(xs) {
            }
            @include breakpoint(xxs) {
            }
          }
        }
        a {
          display: inline-block;
          position: relative;
          transition-duration: 0.3s;
          transition-property: transform;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 1) !important;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(255, 255, 255, 1) !important;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

#custom_html-11 {
  padding: 96px 0;
}
#custom_html-22 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  h3 {
    color: white;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: lighter;
    @include breakpoint(sm) {
      font-size: 30px;
    }
    @include breakpoint(xs) {
      font-size: 30px;
    }
    @include breakpoint(xxs) {
      font-size: 30px;
    }
  }
}
#custom_html-23 {
  #myVideo {
    position: static;
    height: 110vh;
    right: 0;
    bottom: 0;
    @include breakpoint(lg) {
      height: auto;
      width: 100%;
    }
    @include breakpoint(md) {
      height: auto;
      width: 100%;
    }
    @include breakpoint(sm) {
      height: auto;
      width: 100%;
    }
    @include breakpoint(xs) {
      height: auto;
      width: 100%;
    }
    @include breakpoint(xxs) {
      height: auto;
      width: 100%;
    }
  }
  .content {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    h2 {
      color: #fb3958;
      text-align: center;
    }
  }
}

.widget-title {
  display: none !important;
}
#wrapper {
  width: 100%;
  max-width: 600px;
  height: 125vh;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 200px;
  @include breakpoint(sm) {
    height: 70vh;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    max-width: none;
  }
  @include breakpoint(xs) {
    height: 70vh;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    max-width: none;
  }
  @include breakpoint(xxs) {
    height: 70vh;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    max-width: none;
  }
  .img-responsive {
    position: sticky;
    top: 100px;
    height: 400px;
    width: 500px;
    object-fit: cover;
    @include breakpoint(sm) {
      position: relative !important;
      height: auto;
      width: auto;
      top: 0 !important;
    }
    @include breakpoint(xs) {
      position: relative !important;
      height: auto;
      width: auto;
      top: 0 !important;
    }
    @include breakpoint(xxs) {
      position: relative !important;
      height: auto;
      width: auto;
      top: 0 !important;
    }
  }
}

// #shapely_home_parallax-16 {
//   @include breakpoint(xxs) {
//     display: none;
//   }
// }
