.main-navigation .menu {
  font-family: "Roboto", sans-serif !important;
}

a,
.image-bg a,
.contact-section .social-icons li a,
a:visited,
.footer .footer-credits a,
.post-content .post-meta li a,
.post-content .shapely-category a,
.module.widget-handle i {
  color: white !important;
}

.nav-container {
  position: fixed;
  z-index: 1;
  width: 100vw;
  .site-title-container {
    a {
      .site-title {
        font-family: "Roboto", sans-serif !important;
        color: rgba(255, 255, 255, 0.8);
        @include breakpoint(sm) {
          font-size: 37px;
        }
        @include breakpoint(xs) {
          font-size: 27px;
        }
        @include breakpoint(xxs) {
          letter-spacing: 0px;
          font-size: 20px;
        }
        &:hover {
          color: rgba(255, 255, 255, 0.4);
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.navbar-fixed-top {
    background: black;
    color: rgb(255, 255, 255) !important;
    .menu {
      li {
        a {
          color: rgb(255, 255, 255) !important;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  nav {
    border-bottom: none;
    &.main-navigation {
      .menu {
        li {
          a {
            color: rgba(255, 255, 255, 0.5) !important;
            @include breakpoint(sm) {
              font-size: 31px;
              line-height: 58px;
            }
            @include breakpoint(xs) {
              font-size: 22px;
              line-height: 58px;
            }
            @include breakpoint(xxs) {
              font-size: 18px;
              padding-bottom: 10px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav-container {
    position: fixed;
    z-index: 999999;
  }
}

@media (max-width: 1023px) {
  .nav-container {
    position: absolute;
    background: black;
    z-index: 999999;
  }
}

.module.widget-handle i {
  @include breakpoint(sm) {
    font-size: 35px;
  }
  @include breakpoint(xs) {
    font-size: 29px;
  }
  @include breakpoint(xxs) {
    font-size: 16px;
  }
}
