@import "_variables.scss";

.closing-tagline {
  margin-bottom: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .row {
      h3 {
        text-align: center;
        margin: 50px;
        font-size: 3vw;
        font-weight: 300;
        color: #808080;
        @include breakpoint(sm) {
          font-size: 20px;
          font-size: 44px;
          line-height: 55px;
        }
        @include breakpoint(xs) {
          font-size: 20px;
        }
        @include breakpoint(xxs) {
          font-size: 20px;
        }
      }
      h3:first-child {
        text-align: center;
        margin: 50px;
        font-size: 3vw;
        font-weight: 300;
        color: #fff;
        @include breakpoint(sm) {
          margin-top: 150px;
          font-size: 20px;
          font-size: 44px;
          line-height: 55px;
        }
        @include breakpoint(xs) {
          margin-top: 150px;
          font-size: 20px;
        }
        @include breakpoint(xxs) {
          margin-top: 150px;
          font-size: 20px;
        }
      }
    }
  }
  @include breakpoint(sm) {
    margin-bottom: 20vh;
  }
  @include breakpoint(xs) {
    margin-bottom: 30px;
  }
  @include breakpoint(xxs) {
    margin-bottom: 0;
  }
}

.CTA_section {
  margin-bottom: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .row {
      .col-md-6 {
        text-align: center;
        @include breakpoint(xxs) {
          border-bottom: 1px solid white;
        }
        h2 a {
          color: #fff;
          text-align: center;
          font-weight: 100;
          @include breakpoint(sm) {
            font-size: 38px;
          }
          @include breakpoint(xs) {
            font-size: 32px;
          }
          @include breakpoint(xxs) {
            font-size: 38px;
          }
          &:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5) !important;
            transition: all 0.5s ease-in;
          }
        }
      }
    }
  }
  @include breakpoint(sm) {
    margin-bottom: 20vh;
  }
  @include breakpoint(xs) {
    margin-bottom: 20vh;
  }
  @include breakpoint(xxs) {
    margin-bottom: 20vh;
  }
}
