.CTA_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .row {
      .col-md-6 {
        text-align: center;
        h2 a {
          color: #fff;
          text-align: center;
          font-weight: 100;
          &:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5) !important;
            transition: all 0.5s ease-in;
          }
        }
      }
    }
  }
}
